extends layout

block content
	section.container
		include header
		div.item
			//- formulario con el método form, procesa el home por el método post
			//- le ponemos una ruta y le pasamos la variable data como parámetro
			//- la variable data es un objeto, tiene una posición, si le pongo índice 0 accedo a toda la info
			//- le pasamos el id de la película a la ruta actualizar
			form.form(method="post" action="/actualizar/#{data[0].movie_id}")
				fieldset
					div.container.p1
						label.item.i-b.v-top.ph3.p_25.right(for="movie_id") IMBD id:
						input.item.i-b.v-top.ph9.p_25#id(type="text",name="id",value="#{data[0].movie_id}", disabled, required)
						//- si está desabilitado no se envía el dato, entonces usamos un input oculto; no pueden tener el mismo id ni name
						input#movie_id(type="hidden",name="movie_id",value="#{data[0].movie_id}")
					div.container.p1
						label.item.i-b.v-top.ph3.p_25.right(for="title") Título:
						input.item.i-b.v-top.ph9.p_25#title(type="text",name="title",value="#{data[0].title}",required)
					div.container.p1
						label.item.i-b.v-top.ph3.p_25.right(for="release_year") Año de Estreno:
						input.item.i-b.v-top.ph9.p_25#release_year(type="text",name="release_year",value="#{data[0].release_year}",required)
					div.container.p1
						label.item.i-b.v-top.ph3.p_25.right(for="rating") Calificación:
						input.item.i-b.v-top.ph9.p_25#rating(type="text",name="rating",value="#{data[0].rating}",required)
					div.container.p1
						label.item.i-b.v-top.ph3.p_25.right(for="image") Poster:
						input.item.i-b.v-top.ph9.p_25#image(type="text",name="image",value="#{data[0].image}",required)
					div.container.p1 
						input.item.ph4.mauto.button.edit(type="submit",value="Editar")
						//- ponemos el campo oculto oculto, con el parámetro _method que configuramos con express-method-override y le pusimos valor put
						input(type="hidden", name="_method", value="put")